.title
{
  text-align: center;
}

.wrapper
{
  margin: 5vw;
  text-align: center;
}

.input
{
  margin: 1vw;
}

.button
{
  margin: 1vw;
}

.result
{
  margin: 4vw;
  text-align: center;
}
.result a
{
  line-height: 5vw;
  font-size: 3vw;
}

#Copy
{
  visibility: hidden;
}
